<!-- profile.html - shows employee details  -->
<!-- Show the table if Employee returned by API is defined  -->
<table ng-show="!notFound" class="table table-striped">
  <tr>
    <td><strong>Email : </strong></td>
    <!-- Print the name -->
    <td>{{employee.email}}</td>
  </tr>
  <tr>
    <td><strong>Telefono : </strong></td>
    <td>{{employee.telefono}}</td>
  </tr>
  <tr>
    <td><strong>Celular : </strong></td>
    <td>{{employee.celular}}</td>
  </tr>
</table>
<!-- Show error if employee is not defined  -->
<div ng-show="notFound"  class = "alert alert-danger col-md-12">
  Error !!! Employee not Found
</div>