<!-- home.html lists all employees and link to their profile -->
<table class="table table-striped">
  <thead>
      <th>Número</th>
      <th>Credencial </th>
      <th>Link al Expediente</th>
  </thead>
  <!-- ng-repeat to iterate over Employee array -->
  <tr ng-repeat="emp in empList">
  <!-- $index+1 gives the value 1,2 etc according to no of iteration -->
    <td class="active">{{$index+1}}</td>
    <td class="success">
        {{emp.nombre}}
    </td>
    <!-- Note here that there should not be spaces between angular brackets -->
    <!-- #profile/profileid is the link to profile -->
    <td class="info"><a ng-href="#/usuarios/{{emp.credencial}}">Expediente</a></td>
  </tr>

</table>