<div class="row">
      <div class="col-lg-12">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-tasks"></i> Contacto
            <a ng-href="#/contacto_editar/{{employee.credencial}}" class="pull-right">Modificar contacto</a>
          </div>
          <div class="widget-body medium no-padding">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                  <td>Email</td>
                  <td>{{employee.email}}</td>
                      <td></td>
                  </tr>
                  <tr>
                  <td>Telefono</td>
                  <td>{{employee.telefono}}</td>
                      <td></td>
                  </tr>
                  <tr>
                  <td>Celular</td>
                  <td>{{employee.celular}}</td>
                      <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>