<div class="row">
      <div class="col-lg-12">
          <form id="uploadForm"
          enctype="multipart/form-data"
          action="/file/docload"
          method="post">
          <input type="hidden" name="credencialid" ng-value="credencialid" />
          <input type="text" name="title"/><br>
          <input type="file" name="uploadFile" />
          <input type="submit" value="submit"/>
          </form>
          <br><br>
       
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-tasks"></i> Archivos
            <a href="#/" class="pull-right">Subir archivo</a>
          </div>
          <div class="widget-body medium no-padding">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr ng-repeat="doc in docsList">
                  <td><div class="col-md-3" ng-bind="doc.filename"></div></td>
                  <td><div class="col-md-3" ng-bind="doc.extension"></div></td>
                  <td><a ng-href="/file/downloadFilebyurl/?url={{doc.url}}/{{doc.filename}}{{doc.extension}}">Descargar</a></td>
                  <td><a ng-href="/file/deleteFilebyurl/?url={{doc.url}}/{{doc.filename}}{{doc.extension}}&filename={{doc.filename}}&credencial={{doc.credencial}}">Eliminar</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
    </div>
</div>
   