<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <title>New Sails App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
  <!--STYLES-->
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/dashboard.css">
  <link rel="stylesheet" href="/styles/font-awesome.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
  </head>
  
  
<body ng-controller="MasterCtrl">
    
  <div id="page-wrapper" ng-class="{'active': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a href="#/" ng-click="toggleSidebar()">
            Agenda
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>INDICE</span></li>
        <li class="sidebar-list">
          <a href="#/">Inicio <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/expedientes">Expedientes <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-title separator"><span>Atajos</span></li>
        <li class="sidebar-list">
          <a href="#/buscar_expediente">Buscar expediente <span class="menu-icon fa fa-external-link"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/expediente_nuevo">Nuevo expediente <span class="menu-icon fa fa-external-link"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="#/">
            Dev
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#/">
            Version
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#/">
            Ayuda
          </a>
        </div>
      </div>
    </div>

    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item dropdown">
                <a href="#" class="dropdown-toggle">
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    HAE. Dr. Juan Graham Casasus
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#/">
                      Cuenta
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#/">
                      Salir
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="meta">
              <div class="page">
                Agenda
              </div>
              <div class="breadcrumb-links">
                Inicio / Agenda
              </div>
            </div>
          </div>
        </div>

        <!-- End Header Bar -->

        <!-- Main Content -->
        <section data-ui-view></section>
        
      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
  <script src="/vendor/requirejs/require.js" data-main="/angularjs/agenda-responsive/main"></script>
</body>
</html>
